/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*,
*::after,
*::before {
    margin: 0%;
    padding: 0%;
    box-sizing: inherit;
}

html {
    /* 
    by default browser(user agent) specifies the default will be 16px 
    in order to use rem unit we need to specify the below font size in 
    percentage format because , when the user changes the font size of 
    the browser then that doesn't really work. So we need it to percentage.

    for that conversion -> ( 10px / 16px ) = 0.625 * 100 = 62.5%

    */
    font-size: 62.5%; /* Actually 10px */
}

body {
    font-family: lato;
    /*font-size: 16px;*/
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 3rem;

    box-sizing: border-box;
}

.header {
    background-image: linear-gradient(to right bottom,rgb(126, 213, 111,0.8),rgba(40, 180, 133, 0.8)), url('../img/hero.jpg');
    height: 95vh;
    position: relative;
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    /* --- TRYING A TRIANGLE SHAPE ---
    clip-path: polygon(50% 0, 50% 0, 0% 100%, 100% 100%);
    */
}

.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__logo {
    height: 3.5rem;
}

.header__logo-box:hover {
    animation: moveInRight 1s;
    animation-timing-function: ease-out;
}

.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden; /* fix for animation created by keyframes */
    margin-bottom: 6rem;
}

.heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out;
    /*
    animation: name duration timing-function delay iteration-count direction fill-mode;
    */
}

.heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;
}


@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    70% {
        transform: translateX(1rem);
    }

    85% {
        transform: translateX(-.5rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    70% {
        transform: translateX(-1rem);
    }

    85% {
        transform: translateX(.5rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.btn:link,
.btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    position: relative;
    transition: all .2s;

}

.btn:hover {    
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgb(0, 0, 0, 0.3);
}

.btn:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, 0.3);
}

.btn--white {
    color: #777;
    background-color: #fff;
}


.btn::after {
    content: "";
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .3s;
}

.btn--white::after {
    content: "";
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn--animated {
    animation: moveInTop .8s ease-out .75s backwards;
}