.btn{
    &:link,
    &:visited {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.6rem;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        position: relative;
        transition: all .2s;
    }

    &:hover {    
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);
    }

    &--white {
        color: $color-grey-dark;
        background-color: $color-white;

        &::after {
            content: "";
            background-color: $color-white;
        }
    }
    
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        display: inline-block;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .3s;
    }
    
    &--animated {
        animation: moveInTop .8s ease-out .75s backwards;
    }
}